{% extends "cover/header.html" %}
{% block content %}
      <header class="masthead mb-auto">
        <div class="inner">
          <!--<h3 class="masthead-brand">Cover</h3> -->
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/mission/">Mission</a>
            <a class="nav-link" href="/blog/">Idea Wall</a>
            <a class="nav-link" href="#">Volunteer</a>
            <a class="nav-link active" href="/donate/">Donate</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">

		<br></br>
  		<div class='row'>

	         <div class='col s12 m6 l6' style='margin-bottom:10px'>
	          <a href="#" target="blank" class="btn btn-success"> Account details</a>
	          <p>Support us, we seek to create united afrika where education is free and universal.</p>
	         </div>

                 <div class='col s12 m6 l6' style='margin-bottom:10px'>
                  <a href="#" class="btn btn-success"> YouTube User Sponsor</a>
                  <p>Early access to content, and high quality political and economic eduction.</p>
                 </div>




	        </div>

	        <div class='row'>


            <div class='col s12 m6 l6' style='margin-bottom:10px'>
              <a href="#" class="btn btn-success"> PayPal Donation</a>
              <p>A general donation of any amount via PayPal.</p>
            </div>


	         <div class='col s12 m6 l6' style='margin-bottom:10px'>
	           <a href="#" target="blank" class="btn btn-success" > Patreon</a>
	           <p>If you would like a way to support for any amount a month, you can do this through Patreon.</p>
	         </div>
		</div>

		<br><br>

		<div class='col s12 m6 l6' style='margin-bottom:10px'>
			<p>Bitcoin donations to: <strong style='font-size:120%'>15z2MPrNgcWEu5J8CtYTfXgAZ5BnSyz5i1</strong></p>
		</div>

		<br><br>

		<p>The brain . Donations and subscriptions go towards running costs such as hosting, recording software, recording hardware, and a massive time investment.</p>


{% endblock %}
