{% extends "cover/header.html" %}
{% block content %}
      <header class="masthead mb-auto">
        <div class="inner">
          <!--<h3 class="masthead-brand">Cover</h3> -->
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="/mission/">Mission</a>
            <a class="nav-link" href="/blog/">Idea Wall</a>
            <a class="nav-link" href="#">Volunteer</a>
            <a class="nav-link" href="donate">Donate</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">

	<h1 class="cover-heading">New Age Liberty</h1>
	<p>New Age liberty is an informal non-profit organisation created to achieve the goal of african unity through technology and innovation</p>
	<p class="lead">
		  <a href="/mission/" class="btn btn-lg btn-secondary">Learn more</a>
	</p>
{% endblock %}
